@font-face {
  font-family: Roboto;
  src: url(/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
body {
  font-size: 15px;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

header {
  background-color: #541554;
}
header nav {
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
}
header nav div {
  margin-top: 30px;
}
header nav div:first-child a {
  margin: 0 30px;
}
header nav div:first-child a:first-child {
  margin-left: 156px;
}
header nav div:last-child a {
  margin: 0 50px;
}
header nav div:last-child a:last-child {
  color: #FFFFFF;
}
header nav div a {
  color: #1D1D1D;
  font-size: 1rem;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  margin-top: 60px;
}
.header div h1 {
  color: #FFFFFF;
  font-size: 4rem;
  margin: 0;
  font-weight: 400;
}
.header div p {
  color: #FFFFFF;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 70px;
}
.header div p:last-child {
  margin-top: 15px;
  margin-bottom: 80px;
}
.header .button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 55px;
}
.header .button_email {
  width: 235px;
  height: 60px;
  background-color: #FFFFFF;
  color: #611F69;
  font-size: 0.93rem;
  font-family: Roboto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.header .button_google {
  width: 235px;
  height: 60px;
  background-color: #4285F4;
  color: #FFFFFF;
  font-size: 0.93rem;
  font-family: Roboto;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.header .button_google img {
  width: 49px;
  height: 49px;
}
.header .main_images {
  width: 540px;
  height: 308px;
}

.section-first {
  background-color: #F4EDE4;
}
.section-first .head-first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-first .head-first-section p {
  margin: 0;
  margin-top: 45px;
  font-size: 0.93rem;
}
.section-first .head-first-section div {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-first .main-first-section div {
  width: 600px;
  padding: 50px 50px;
}
.section-first .main-first-section div p {
  margin: 10px 0;
  font-size: 3.3rem;
}
.section-first .main-first-section div p:nth-last-child(2) {
  font-size: 1.2rem;
}
.section-first .main-first-section div a {
  font-size: 1.2rem;
}
.section-first .main-first-section div:nth-last-child(odd) {
  margin-left: auto;
}

.section-second .head-second-section {
  display: flex;
  flex-direction: row;
}
.section-second .head-second-section div {
  display: flex;
  flex-direction: column;
}
.section-second .head-second-section div:nth-last-child(odd) {
  width: 15%;
  margin: 0 30px;
  margin-top: 30px;
  align-items: center;
  gap: 50px;
}
.section-second .head-second-section div:nth-last-child(odd) img {
  width: 77px;
  height: 51px;
}
.section-second .head-second-section div:nth-last-child(odd) img:nth-last-child(even) {
  margin-left: auto;
}
.section-second .head-second-section div:nth-last-child(even) {
  width: 85%;
  justify-content: center;
}
.section-second .head-second-section div:nth-last-child(even) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.section-second .head-second-section div:nth-last-child(even) div button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 0.93rem;
  color: #611F69;
  background-color: #FFFFFF;
}
.section-second .head-second-section div:nth-last-child(even) div button:nth-last-child(even) {
  width: 300px;
  background-color: #611F69;
  color: #FFFFFF;
}
.section-second .head-second-section div:nth-last-child(even) p {
  margin: 0;
  text-align: center;
  margin-top: 100px;
  font-size: 3rem;
}
.section-second .head-second-section div:nth-last-child(even) span {
  margin-top: 15px;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.section-second .statics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 80px;
}
.section-second .statics div p {
  margin: 0;
  font-size: 4.26rem;
  color: #611F69;
}
.section-second .statics div span {
  margin-top: 4px;
  font-size: 0.93rem;
}
.section-second .information {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 525px;
  margin-right: 40px;
  margin-top: 120px;
  margin-bottom: 130px;
}
.section-second .information span {
  font-size: 1rem;
}
.section-second .information span:first-child {
  font-size: 1.8rem;
}
.section-second .information span:nth-child(2) {
  margin-top: 10px;
}
.section-second .information span:nth-child(3) {
  margin-top: 3px;
}
.section-second .information a {
  margin-top: 30px;
}

.section-third {
  background-color: #F4EDE4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-third .head_text {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 2rem;
  letter-spacing: 0.3px;
}
.section-third .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 80px;
}
.section-third .cards .first_card {
  background-color: #4A154B;
}
.section-third .cards .first_card span {
  margin-top: 25px;
  color: #FFFFFF;
}
.section-third .cards .first_card a {
  margin-top: 15px;
  color: #FFFFFF;
}
.section-third .cards div {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 256px;
}
.section-third .cards div span, .section-third .cards div a {
  font-size: 0.93rem;
  font-family: Roboto;
  margin-left: 12px;
}
.section-third .cards div a {
  margin-bottom: 20px;
  text-decoration: none;
}
.section-third .cards div span {
  color: #454245;
  margin-top: 7px;
}
.section-third .cards div p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 12px;
  font-size: 1.6rem;
}
.section-third .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4A154B;
  width: 100%;
}
.section-third .banner p {
  margin-top: 110px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 3.2rem;
}
.section-third .banner div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 110px;
}
.section-third .banner button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  color: #611F69;
  padding: 20px 40px;
  font-size: 0.93rem;
  font-family: Roboto;
  cursor: pointer;
}
.section-third .banner button:last-child {
  background: none;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */