@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

body {
    font-size: 15px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}


header {
    background-color: #541554;
    nav {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
        div {
            margin-top: 30px;
            &:first-child {
                a {
                    margin: 0 30px;

                    &:first-child {
                        margin-left: 156px;
                    }
                }
            }

            &:last-child {
                a {
                    &:last-child {
                        color: #FFFFFF;
                    }
                    margin: 0 50px;
                }
            }
            a {
                color: #1D1D1D;
                font-size: 1rem;
                text-decoration: none;

            }
        }
    }    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;  
    margin-top: 60px;
    div {
        h1 {
            color: #FFFFFF;
            font-size: 4rem;
            margin: 0;
            font-weight: 400;
        }
        p {
            color: #FFFFFF;
            font-size: 1.3rem;
            margin: 0;
            margin-top: 70px;

            &:last-child {
                margin-top: 15px;
                margin-bottom: 80px;
            }
        }
    }
    .button {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 55px;
        &_email {
            width: 235px;
            height: 60px;
            background-color: #FFFFFF;
            color: #611F69;
            font-size: 0.93rem;
            font-family: Roboto;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        &_google {
            width: 235px;
            height: 60px;
            background-color: #4285F4;
            color: #FFFFFF;
            font-size: 0.93rem;
            font-family: Roboto;
            border: none;
            border-radius: 4px; 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            img {
                width: 49px;
                height: 49px;
            }
        }
    }
    
    .main_images {
        width: 540px;
        height: 308px;
    }
}

.section-first {
    background-color: #F4EDE4;
    .head-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin: 0;
            margin-top: 45px;
            font-size: 0.93rem;
        }
        div {
            margin: 30px 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .main-first-section {
        div {
            width: 600px;
            padding: 50px 50px;
            p {
                margin: 10px 0;
                font-size: 3.3rem;
                &:nth-last-child(2){
                    font-size: 1.2rem;
                }   
            }
            a {
                font-size: 1.2rem;
            }
            &:nth-last-child(odd){
                margin-left: auto;
            }
        }
    }
}

.section-second {
    .head-second-section {
        display: flex;
        flex-direction: row;
        div {
            display: flex;
            flex-direction: column;
            &:nth-last-child(odd) {
                width: 15%;
                margin: 0 30px;
                margin-top: 30px;
                align-items: center;
                gap: 50px;
                img {
                    width: 77px;
                    height: 51px;
                    &:nth-last-child(even) {
                        margin-left: auto;
                    }
                }
            }

            &:nth-last-child(even){
                width: 85%;
                justify-content: center;

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 8px;
                    width: 100%;

                    button {
                        width: 200px;
                        height: 60px;
                        border: none;
                        border-radius: 4px;
                        font-family: Roboto;
                        font-size: 0.93rem;
                        color: #611F69;
                        background-color: #FFFFFF;
                        
                        &:nth-last-child(even) {
                            width: 300px;
                            background-color: #611F69;
                            color: #FFFFFF;
                        }
                    }
                }

                p {
                    margin: 0;
                    text-align: center;
                    margin-top: 100px;
                    font-size: 3rem;
                }

                span {
                    margin-top: 15px;
                    text-align: center;
                    font-size: 1.2rem;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .statics {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 80px;
        div {
            p {
                margin: 0;
                font-size: 4.26rem;
                color: #611F69;
            }

            span {
                margin-top: 4px;
                font-size: 0.93rem;
            }
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        width: 525px;
        margin-right: 40px;
        margin-top: 120px;
        span {
            &:first-child {
                font-size: 1.8rem;
            }

            &:nth-child(2) {
                margin-top: 10px;
            }

            &:nth-child(3) {
                margin-top: 3px;
            }

            font-size: 1rem;
        }
        a {
            margin-top:  30px;
        }
        margin-bottom: 130px;
    }
}